<!DOCTYPE html>
<HTML>
<HEAD>


</HEAD>
<BODY>
<CENTER>
<TABLE border="1" WIDTH="400">
<tr>
<td align="center" colspan="2">Welcome to Healthy Restaurant!</td>
</tr>
<tr>
<td width="30%">Seafood Hor-Fun</td>
<td align="center"><img src="seafood hor-fun.jpg" width="100"><br>8.50</td>
</tr>
<tr>
<td width="30%">Mushroom Pizza</td>
<td align="center"><img src="mushroom pizza.jpg" width="100"><br>6.80</td>
</tr>
<tr>
<td width="30%">Wonton Noodle</td>
<td align="center"><img src="wonton-noodle.jpg" width="100"><br>5.50</td>
</tr>
</TABLE>
</CENTER>
</BODY>
</HTML>